<section>
    <img class="laurienzo-hair-co" src="../../../assets/laurienzo-hair-co.svg" />
    <img class="eucalypt" src="https://image.laurienzohairco.com/eucalypt.jpg" />
</section>
<section class="about-me-section">
    <img class="profile" src="https://image.laurienzohairco.com/profile.jpeg"/>
    <p class="about-me">
        Welcome! My name is Carlie Laurienzo and I'm the sole proprietor of Laurienzo Hair Co.
        I've worked in the beauty industry for over a decade now. I specialize mostly with 
        natural colors and cuts, but equipped for any type of style. Feel free to check out my
        portfolio. Looking forward to making your goals a reality!
    </p>
</section>