.eucalypt-top {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1000;
    opacity: 15%;
    rotate: 180deg;
}

.eucalypt-bottom {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: -1000;
    opacity: 15%;
}