<nav mat-tab-nav-bar>
  <a mat-tab-link 
    [routerLink]="['/home']"
    routerLinkActive
    #home="routerLinkActive"
    [active]="home.isActive">
    Home
  </a>
  <a mat-tab-link 
    [routerLink]="['/services']"
    routerLinkActive
    #pricing="routerLinkActive"
    [active]="pricing.isActive">
    Services
  </a>
  <a mat-tab-link 
    [routerLink]="['/booking']"
    routerLinkActive
    #booking="routerLinkActive"
    [active]="booking.isActive">
    Booking
  </a>
  <a mat-tab-link 
    [routerLink]="['/portfolio']"
    routerLinkActive
    #portfolio="routerLinkActive"
    [active]="portfolio.isActive">
    Portfolio
  </a>
</nav>
<router-outlet></router-outlet>
